{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "ignorePatterns": [
        "node_modules"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "prettier/prettier": "error",
        "arrow-parens": "error",
        "camelcase": "error",
        "sort-imports": "error"
    }
}