{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "tsconfig.json",
        "include": "./src/**/*.ts"
    },
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "ignorePatterns": [
        "node_modules",
        "src/context/TestContext.ts"
    ],
    "rules": {
        "prettier/prettier": "off",
        "eqeqeq": "error",
        "no-else-return": "error",
        "no-unused-expressions": "error",
        "arrow-spacing": "error",
        "comma-spacing": "error",
        "getter-return": "error",
        "arrow-parens": "error",
        "sort-imports": "error",
        "no-multi-spaces": "error",
        "no-extra-semi": "error",
        "semi": "error",
        "no-multiple-empty-lines": "error",
        "require-await": "error",
        "no-empty-function": "error",
        "@typescript-eslint/quotes": [
            "error",
            "single"
        ],
        "@typescript-eslint/member-ordering": [
            "error"
        ],
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": [
                    "variableLike",
                    "method",
                    "memberLike"
                ],
                "format": [
                    "camelCase"
                ]
            },
            {
                "selector": [
                    "property"
                ],
                "format": [
                    "camelCase"
                ],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "typeLike",
                "format": [
                    "PascalCase"
                ]
            },
            {
                "selector": "objectLiteralProperty",
                "format": null
            }
        ],
        "@typescript-eslint/no-unused-vars": "error"
    }
}